/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: roboto,'Noto Sans TC', Helvetica, sans-serif;
    font-style: italic;
}

.header{
    display: flex;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week2/banner.png?raw=true);
    background-size: cover;
    height: 100vh;
}
.container{
    margin: 0 auto;
}
.col{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
}
.flex-container{
    display: flex;
    flex-flow: row nowrap;
    /* flex-wrap: nowrap;
    flex-direction: row; */
    justify-content: center;
    align-items: middle;
}
.bg-0{
    background: #000;
    text-align: center;
}
.title{
    font-size: 64px;
    line-height: 84px;
    font-weight: medium;
}
.sub-title{
    font-size: 24px;
    line-height: 42px;
    font-weight: bold;
}
.p{
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
}
.textWh{
    color: #fff;
    
}
.t-center{
    text-align: center;
}
.img{
    margin: 0 auto;
    width: 384px;
}
.border-top{
    margin: 0 auto;
    width: 384px;
    border-top: 1px solid #000;
}
.about{
    padding: 56px 0;
}
.about img{
    margin-bottom: 20px;
}
.about h3{
    margin-bottom: 8px;
}
.about p{
    padding-bottom: 24px;
}
.brand{
    padding: 56px 0 120px 0;
    margin-bottom: 56px;
}
.brand h3{
    margin: 12px 0 32px 0;
}
.brand p{
    font-family: 20px;
    line-height: 30px;
    padding-bottom: 68px;
}
.flex-wrap{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap:wrap;
    justify-content: space-between;
}
.brand img{
    
    margin-bottom: 40px;
}

.works p{
    font-size: 20px;
    line-height: 30px;
    padding-top: 16px;
    padding-bottom: 56px;
}
.works-card{
    display: flex; 
    margin: 0 auto;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 96px;
}
.card{
    /* width: 384px; */
    text-align: center;
    margin-bottom: 48px;
}
.card h4{
    margin-top: 16px;
    font-family: 20px;
    line-height: 42px;
    font-weight: medium;
}
li a {
    text-decoration: none;
    color:#fff;
}
.py-8{
    padding:64px 0;
}
.mr-2{
    margin-right: 16px;
}
.mb-5{
    margin-bottom: 40px;
}